[Unit]
Description=Docker repository mirror
Requires=docker.socket
After=docker.socket

[Service]
TimeoutStartSec=600
ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=-/usr/bin/docker rm %p
ExecStartPre=/bin/sh -c "docker pull registry:2"
ExecStart=/bin/bash -c "\
  AWS_KEY=$(etcdctl get /ft/_credentials/aws/aws_access_key_id);\
  AWS_SECRET=$(etcdctl get /ft/_credentials/aws/aws_secret_access_key);\
  docker run -p 80:5000 --name %p \
    -e AWS_KEY=$AWS_KEY \
    -e AWS_SECRET=$AWS_SECRET \
    -e AWS_REGION=eu-west-1 \
    coco/registry"
ExecStopPost=-/usr/bin/docker rm -f %p
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target

